.row{
    display: flex;
    justify-content: space-between;
}
.col{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 20px;
    flex: 1;
}
.col-2{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 20px;
    flex: 2;
}
.col-3{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 20px;
    flex: 3;
}