*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    height: 30px;
    align-items: center;
}
.nav-title{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    /* margin-left: -50px; */
}
.nav-links > li{
    margin-right: 15px;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    box-shadow: 5px 5px black;
    color: white;
    background-color: turquoise;
    border-color: black;
    padding: 3px 8px;
}
.lefttopcontainer{
    background-color: white;
    border: 3px solid darkgray;
    margin-top: 30px;
    border-radius: 3px;
}
.topbox{
    background-color: lightskyblue;
    height: 75px;
    margin: -3px;
    border-radius: 3px;
}
.img{
    height: 75px;
    margin-left: 20px;
    margin-top: -40px;
    border-radius: 50%;
    border: solid black;
    outline: solid white;
    box-shadow: 0 0 0 6px grey;
}
.name{
    margin-left: 20px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}
.city{
    display: flex;
    margin-top: 10px;

}
.mmarker{
    height: 15px;
    margin-left:  25px;
    margin-top: 5px;
    margin-right: 0;
}
.stl{
    font-family: cursive;
    margin-left: 10px;
}
.profession{
    font-family: cursive;
    margin-left: 25px;
    margin-top: 5px;
}
#gear{
    margin-left: 0;
}
.ltext{
    color: dodgerblue;
    text-decoration: underline;
}
.leftcontainer{ 
    height: 800;
    padding: 0 50px;
} 
.leftbottomcontainer{
    background-color: white;
    height: 275px;
    margin-top: 30px;
    border-radius: 3px;
}
.edbar{
    height: 25px;
    background-color: rgb(53, 53, 53);
    padding: 6px;
    border-radius: 3px;

}
.edbody{
    border: 3px solid darkgray;
    border-top: none;
    padding: 20px;
}
.edp{
    margin-left: 20px;
    color: white;
    font-family: cursive;
}
.edp2{
    font-family: cursive;
}
#date{
    color: grey;
}
.connectionrbox{
    display: flex;
    height: 45px;
    background-color: rgb(53, 53, 53);
}
.rightcontainer{
    height: 800px;
    margin-top: 30px;
}
.mastercontainer{
    display: flex;
}
.todd{
    display: flex;
    justify-content:;
    padding: 8px;
}
.rpics{
    height: 25px;
}
#prpics{
    border-radius: 50%;

}
.chkmrks{
    width: 15px;
}
.requests{
    display: flex;
    flex-direction: column;
    border: 3px solid darkgray;
    border-top: none;
}
.rtext{
    margin-left: 15px;
    padding-top: 2.5px;
    font-family: cursive;
}
#chk{
    margin-left: 30px;
}
#chk2{
    margin-left: 10px;
}
.number2{
    background-color: grey;
    border-radius: 50%;
    padding: 8px;
    margin: 10px;
    padding-top: 2px;
    font-family: cursive;
}
.crtext{
    font-family: cursive;
    color: white;
    padding-top: 10px;
}
#bottom{
    margin-top: 30px;
}
.vm{
    border-top: solid darkgray;
    padding: 10px;
}

