.container{
    background-color: whitesmoke;
    padding: 20px;
    margin: 0 auto;
    width: 650px;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
a{
    color: turquoise;
}
.bluerectangle{
    display: flex;
    background-color: aqua;
    width: 650px;
    height: 200px;
    justify-content: space-between;
    vertical-align: middle;
}
.pinkrectangle{
    display: flex;
    background-color: palevioletred;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.whiterectangle{
    display: flex;
    background-color: white;
    width: 650px;
    height: 200px;
    margin-top: 20px;
    justify-content: space-between;

}
.images{
    height: 150px;
    margin: 20px;
}
.ibox{
    background-color: white;
    height: 150px;
    margin: 15;
}
